

/* // linear-gradient(rgba(40, 52, 52,0.4), rgba(42, 41, 54,0.4)), */
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    flex-direction: column;
}
.titlecon{
    display: flex;
    position: absolute;
    top: 50%;
}
.logo{
    justify-content: center;
    align-items: center;
    top:35%;
    left:37%;
    position: absolute;
    width: 400px;
    height: 250px;
}
.Home_title{
    font-weight: 700;
    font-size: 90px;
    letter-spacing: 7px;
    text-transform: uppercase;
	  background: linear-gradient(rgb(177, 188, 187), rgba(8, 0, 0, 0.8));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle{
    font-size: 20px;
    color:#99a0a7;
}
*{
    margin: 0;
    padding: 0;
  }
  
  .layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  .loading{
    background: linear-gradient(to top ,#470000, #511d1d);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading2{
    background:linear-gradient(rgba(35, 0, 0, 0.457),rgba(46, 0, 0, 0.3)), url('../../Images/getting-into-comics-a-general-guide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
  }
  .bg{
    height: 98vh;
    position: absolute;
    background: linear-gradient(rgba(59, 0, 0, 0.3),rgba(84, 1, 1, 0.562)), transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
  }
  
  .logo{
    width: 22%;
      height: 28%;
    border-radius: 50%;
    animation: fadeOut 1s 1s  forwards, moveBackward 1s 1s  backwards,size 1s 1s backwards;
    position: absolute;
    top: 20%;
    
  }
  
  .logo2{
    width: 22%;
    height: 28%;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    opacity: 0.6;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.6;
    }
  }
  
  @keyframes moveBackward {
    from {
      transform: translate(0%, 50%);
    }
    to {
      transform: translate(0%, 0%) translateY(0%);
    }
  }
  @keyframes size {
    from {
      width: 25%;
      height: 30%;
    }
    to {
      width: 22%;
      height: 28%;
    }
  }
  
  .title{
    margin-top: 30%;
    color: rgb(170, 170, 170);
    font-size: 30px;
  }
@media (max-width:900px) {
    .home{
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-color: rgb(32, 69, 32);
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        justify-content: center;
        align-items: center;
        top:30%;
        left:30%;
        position: absolute;
        width: 200px;
        height: 250px;
    }
    .Home_title{
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 6px;
        text-transform: uppercase;
       
    }
    
.subtitle{
    font-size: 10px;
    
}
 .title{
    margin-top: 60%;
    color: rgb(170, 170, 170);
    font-size: 20px;
  }
   .logo2{
    width: 30%;
    height: 22%;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    opacity: 0.6;
  }
  .bg{
    width: 90%;
  }
   
  .logo2{
    width:40%;
    height: 22%;
  }
}