.Main_contact{
    background: linear-gradient(to top ,#2d001292,#22000b95);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 30px;
    position: relative;
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* justify-content: center; */
}

.footer_title{
   background: linear-gradient(rgba(253, 205, 132, 0.8), rgba(81, 46, 1, 0.8));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    margin-top: 30px;
    font-weight: 600;
}

.footer_menu{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 80%;
    /* margin: 30px; */
    margin-top: 60px;
    margin-bottom: 50px;
  

}
.footer_menu a{
    color: bisque;
}
.footer_icons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width:25%;
   
}


.end_line{
    font-size: 19px;
    color: beige;
    font-weight: 500;
}
.containerforvideo{
    margin-top: 30px;
}
.contact_info{
    height: 70vh;
    width: 200px;
    background-color: bisque;
}
.left-side{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: bisque;
    padding: 30px;
}

.centeringmapvideo{
    justify-content: center;
    display: flex;
    height: 150px;
}
/* responsive in mobile */
.forms{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.contact_input{
    width: 330px;
    margin-top: 6px;
    border: rgb(137, 1, 1) 2px solid;
    padding: 2px 6px;
    background: transparent;
    color: whitesmoke;
}
.forms button{
    margin-top: 20px;
    padding: 7px 12px;
    background-color: transparent;
    border: rgb(137, 1, 1) 2px solid;
    color: whitesmoke;
}
.forms button:hover{
    background-color:  rgb(137, 1, 1) ;
}
.c_doctor{
    position: absolute;
    bottom: 0;
    left:0;
    z-index: -1;
}
.c_thor{
    position: absolute;
    bottom: 0;
    left:12%;
    z-index: -1;
}
.c_spider{
    position: absolute;
    bottom: 0;
    left:25%;
    z-index: -1;

}
.c_iron{
    position: absolute;
    bottom: 0;
    left:35%;
    z-index: -1;
}
.c_captain{
    position: absolute;
    bottom: 0;
    left:45%;
    z-index: -1;
}
.c_thanos{
    position: absolute;
    bottom: 0;
    right:5%;
    z-index: -1;
}
.note{
    width: 30%;
    background:linear-gradient(rgba(16, 1, 84, 0),rgba(103, 1, 48, 0.5));
    padding: 20px 12px;
    text-align: center;
    color: whitesmoke;
}
@media (max-width:900px) {
    .Main_contact{
        min-height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 40px 0px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
    }
   
    
    .footer_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 300px;
        margin-top: 0px;
        margin-bottom: 0px;
      
    }
    li{
        margin-top: 17px;
        letter-spacing: 5px;
    }
    .footer_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width:25%;
       
    }
    .social_icon{
        color: aliceblue;
        margin-left: 7px;
        margin-right: 7px;
        font-size: 27px;
    
    }
    .icons_container{
       width: 100%;
       justify-content: center;
       align-items: center;
       display: flex;
       /* padding:0px 20px 40px; */
       /* margin: 10px 20px 30px; */
       border-bottom: 2px solid whitesmoke;
    }
    .end_line{
        font-size: 14px;
        color: aliceblue;
        font-weight: 500;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        color: aliceblue;
        padding: 30px;
    }
    .details{
        margin-top: 30px
    }
    .form_paper_merchan{
        margin-left: 20px;
        margin-right: 20px;
    }
    .note{
        width: 90%;
        background:linear-gradient(rgba(16, 1, 84, 0),rgba(103, 1, 48, 0.5));
        padding: 20px 12px;
        text-align: center;
        color: whitesmoke;
    }
}