.theme{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; 
     color: aliceblue;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 0px 30px;
     background: linear-gradient(rgba(53, 0, 0, 0.6),rgba(67, 0, 0, 0.6)),url('../../Images/rise-humanoids-with-advanced-headgear-generative-ai.jpg')  ;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

.theme_title{
    margin: 30px 0px;
   
}
.content_box{
    width: 67%;
}
.theme_con{
    display: flex;
    flex-direction: column;
    width: 55%;

}
.theme_content{
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 300px;
    font-size: 17px;
    line-height: 1.5rem;
    letter-spacing: 1px;
}
@media (max-width:900px) {
    .theme{
        justify-content: flex-start;
        min-height: 100vh;
        align-items: center;
        padding-top: 30px;
    }
    
    .theme_title{
        margin: 30px 0px;
       
    }
    .content_box{
        width: 100%;
    }
    .theme_con{
        display: flex;
        flex-direction: column;
        width: 95%;
    
    }
    .theme_content{
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 300px;
        font-size: 17px;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }
}