@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.themeCon{
    
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../Images/Mjolnir\ thor\ marvel\ wallpaper.jpeg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: aliceblue;
}
.theme_con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin: 30px;
    width: 60%;
    position: relative;
}
.theme_title{
    font-size: 45px;
}

.theme_content{
    font-size: 20px;
}
.captain{
    position: absolute;
    left: -60%;
    top: -10%;
}

.iron{
  position: absolute;
  top: 0%;
  left: -50%;
}

@media (max-width:900px) {
    .themeCon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .theme_con{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 30px;
        margin: 30px;
        width: 100%;
        background: rgba(132, 1, 81, 0.5);
    }
    .theme_title{
        color: aliceblue;
    }
    .content_box{
        width: 100%;
        margin-top: 20px;
    }
    .theme_content{
        color: aliceblue;
        padding: 0px;
        text-align: center;
       font-size: 15px;
       width: 100%;
    }
    

.iron{
    position: absolute;
    top: 0%;
    left: -30%;
    z-index: -1;
  }
  
}