.container_spons{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* background: linear-gradient(rgba(0, 16, 60, 0.489), rgba(0, 22, 50, 0.457)), url('../../Images/19852263_6191107.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    margin-top: 20px;
    margin: 40px;
    
}



.spons_col {
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 220px;
    /* background-color: blanchedalmond; */
  }

.sponsimg{
   width:220px;
   height: 180px;
}
.spons_title{
  color: aliceblue;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.spons_wrapper{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
 }



.spons_wrapper{

}
.thor{
    position: absolute;
    top: -5%;
    right:3%;
}
@media (max-width:900px) {
    .container_spons{
        min-height: 100vh;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .spons_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 95%;
        flex-direction: column;
    }
    
    .spons_col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 300px;
        margin-left: 0px;
        margin-top: 20px;
        object-fit: contain;
       
    }
    .sponsimg{
        height: 220px;
        width: 320px;
        object-fit: fill;
        border-radius: 5px;
    }
    .spons_title{
      color: aliceblue;
      font-size:33px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
   
}


